.App {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.holiday-event {
    line-height: 3rem;
    padding: 0 5px;
    background-color: #177106;
    color: white;
    border: none;
    font-weight: 900;
}

.vacation-event-pending {
    line-height: 3rem;
    padding: 0 5px;
    background-color: rgb(216 218 221);
    color: black;
    border: none;
    font-weight: 900;
}

.vacation-event-approved {
    line-height: 3rem;
    padding: 0 5px;
    background-color: rgb(106 214 229);
    color: rgb(223, 223, 223);
    border: none;
    font-weight: 900;
}

.vacation-event-rejected {
    line-height: 3rem;
    padding: 0 5px;
    background-color: rgb(239 80 57);
    color: rgb(223, 223, 223);
    border: none;
    font-weight: 900;
}

.fc-scrollgrid>thead {
    background-color: #CAD0D6;
}

.fc-daygrid-body .fc-day {
    cursor: pointer;
}

.header-link :hover {
    color: #61dafb;
}